.Objednavka {
    padding: 40px 0px;
    font-size: 18px;
}
p {
    padding: 10px;
}
.Objednavka strong{
    font-weight: 900;
    letter-spacing: 2px;
}

.cena {
    border-top: 1px solid #42B9C2;
    color: #42B9C2;
}

.Active {
    position: fixed;
    left: 50%;
    opacity: 1;
    transform: translateY(0vh);
    transition: all 0.3s ease-out;
}

.Passive {
    transform: translateY(-100vh);
    transition: all 0.s ease-in;
    opacity: 0;
}



@media screen and (max-width: 500px){
  .Objednavka { width: 80vw;}


}