.price{
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #46cde0;
    position: absolute;
    margin-top: -50px;
    margin-left: 70%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px -20px 20px  rgba(40, 66, 83, 0.041);
}


@media screen and (max-width: 920px){
    .price{
        margin-left: 60%;
  
    }
}

@media screen and (max-width: 680px){
    .price{
        margin-left: 45%;
  
    }
}

@media screen and (max-width: 500px){
    .price{
        margin-left: 45%;
  
    }
}