.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.NavigationItem a, li{
    font-weight: 600;
    padding: 16px 10px 0 16px;
    height: 100%;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
    color: rgb(51, 184, 207);
    text-decoration: none;
}

li{margin-top: 33px;}


.NavigationItem a:hover, 
.NavigationItem a:active, 
.NavigationItem .active {
    border-bottom: 4px solid #abeefe;
    color: white;
    transition: border 0.3s ease-in; 
}

@media (max-width: 680px) {

    .NavigationItem a, li{
        margin-left: 5px;
        font-size: 0.9rem;
        padding: 16px 0px 0 16px;}
}
@media (max-width: 572px) {

    .NavigationItem a, li{
        margin-left: -5px;}
}
@media (max-width: 500px) {
    .NavigationItem a:hover, 
    .NavigationItem a:active, 
    .NavigationItem a.active  {color: gray;
        border-bottom: none;}

    .NavigationItem a{
        border: none;
    }
    .NavigationItem{
        display: block;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid rgb(228, 228, 228);
    }
}