.Toolbar {
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#e2c7ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.Toolbar nav {
    height: 100%;
}

.Toggler {
    display:none;
}

@media screen and (max-width: 560px){
    .Toggler {
        width: 56px;
        position: fixed;
        top:10px;
        left: 10px;
        display: block;
        cursor: pointer;
    }
    .Toolbar {
        display: none;
    }
}