.Modal {
    position: fixed;
    left: 35%;
    top: 30vh;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid rgb(235, 234, 234);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Modal h2{
    font-family: Shrikhand, serif;
    font-weight: 700;
    font-size: 25px;
    font-style: italic;
    letter-spacing: 2px;
    color: #42b9c2;
    padding: 10px;
    border-bottom: 1px solid rgb(231, 229, 229);
}
@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
    .Modal h2{
        font-size: 35px;
    }

}
@media (max-width: 600px) {
    .Modal {
        width: 90vw;
        left: calc(50% - 230px);
    }
    .Modal h2{
        font-size: 35px;
    }

}
