.Order {
    width: 100%;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.137);
    box-shadow: 0 0 10px rgba(182, 181, 181, 0.11);
    padding: 20px;
    margin: 10px auto;
    box-sizing: border-box;
}
.Order strong {
    font-weight: 900;
}

.Order h4 {
    font-weight: 400;
    color:  #46CDE0;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.Total {
    border-top: 1px solid #46cee03f;
}