.Logo{
    display: flex;
    align-items: center;
}

.Logo svg{
    height: 46px;
    width: auto;
    filter: drop-shadow(3px 3px 0px white);
}

.Logo__name{
    font-family: Shrikhand;
    font-size: 30px;
    margin-left: -30px;
    color: #70d0e7;
    filter: drop-shadow(3px 3px 0px white);
}