.Logo{
    display: flex;
    align-items: center;
}

.Logo svg{
    height: 46px;
    width: auto;
    filter: drop-shadow(3px 3px 0px white);
}

.Logo__name{
    font-family: Shrikhand;
    font-size: 30px;
    margin-left: 20px;
    margin-top: -45px;
    color: #70d0e7;
    filter: drop-shadow(3px 3px 0px white);
}

.Logo a{
    text-decoration: none;
}

@media (max-width: 661px) {

    .Logo__name{
        font-size:25px;
    }
}

@media (max-width: 645px) {
    .Logo svg{
        height: 36px;
 
    }
    .Logo__name{
        font-size:20px;
    }
}